PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://<USER>:<PASSWORD>@127.0.0.1:5432/yekondominium?schema=public
ACCESS_TOKEN_SECRET=replace-with-a-strong-secret
REFRESH_TOKEN_SECRET=replace-with-a-strong-secret
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
